<header class="header">
  <div class="container header__container">
    <div>LOGO</div>
    <nav class="header__nav">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog">Каталог</a></li>
      </ul>
    </nav>
  </div>
</header>
