.product-card {
  width: calc(33% - 7px);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;

  &__img {

  }

  &__body {
    padding: 12px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 22px;
  }

  &__subtitle {
    font-size: 14px;
  }

  &__description {
    font-size: 18px;
  }
}
